@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --font-header: "Fira Code", monospace;
  --color-purple:#C778DD;
}

.top {
  padding: 0em 10em;
}

.top__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.top__nav__nome {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.6em;
  color: white;
  font-family: var(--font-header);
}

.top__nav__links {
  display: flex;
  gap: 3em;
}

.top__nav__links__botao {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.3em;
  color: #abb2bf;
  text-decoration: none;
  font-family: var(--font-header);
}

.top__nav__links__botao:hover{

    color: white;
    text-shadow: 0 0 0.100em rgba(0, 0, 0, 0.5), 0 0 0.80em currentColor;
    
}

.top__nav__links__icon {
  width: 14px;
}


