main {
  padding: 0em 10em;
}


.corpo__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 10em;
}

.corpo__div__imagem {
  /*
    border-start-start-radius: 40%;
    border-start-end-radius: 40%;
    border-end-end-radius:40% ;
    border-end-start-radius: 40%;*/
  border-radius: 50%;
  width: 25rem;
  /*border: 3px solid white;*/
}

.corpo__div__div {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.corpo__div__div__titulo {
  font-size: 32px;
  font-family: var(--font-header);
  color: white;
}

.corpo__div__div__paragrafo {
  color: gray;
  font-size: 20px;
  font-weight: 100;
}

.corpo__div__div__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  border: 1px solid #c778dd;
  padding: 0.8em;
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  transition: 1s all ease;
  font-family: var(--font-header);
  border-radius: 0.5em;
}

/*hover botao -----------------------------------------------------------------*/

.btn::before {
  background: var(--color-purple);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn3:hover::before {
  height: 380%;
}

/*-----------------------------------------------------------------------------*/

.corpo__div__div__front {
  color: var(--color-purple);
}

.projetos{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projetos__div__titulo{

  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 5em;
}

.projetos__titulo{

  display: flex;
  align-items: center;
  text-align: center;
  font-size: 29px;
  color: white;
  font-family: var(--font-header);
}

.projetos__hashtag{

  width: 1em;
}

/*media querys ------------------------------------------------------------------*/

@media (max-width: 900px) {

    main{

        padding: 1.5rem;
    }

    .corpo__div{

        margin-top: 10em;
        flex-direction: column-reverse;
        gap: 3em;
        
    }
    .corpo__div__imagem{

        width: 20rem;
    }

    .linharoxa{

      display: none;
    }

    .typewriter{

      font-size:1.2rem;
    }

    .corpo__div__div__paragrafo{

      font-size: 1rem;
    }

    .navbar{

      display: block;
    }

  
}



/*-----------------------------------------------------------------------------*/

.consolepurple{

  color: #c778dd;
}

.logyellow{

  color: yellow;
}


